<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.bsdmasterindex.treps"
    version     = "1.0"
    versionCode = "100" >
    <!-- versionCode is optional and Android only -->
    <preference name="phonegap-version" value="5.2.0" />

    <name>Treps</name>
    <description>An entrepreneurs lookup tool on social networks</description>
    <author href="http://bsdmasterindex.com" email="jessemonroy650@yahoo.com">
    Jesse Monroy
    </author>
    <platform name="android" />
    <!-- <platform name="ios" /> -->
    <preference name="permissions" value="none"/>
    <plugin name="cordova-plugin-contacts"  source="npm" spec="1.1.0" />
    <plugin name="cordova-plugin-device"    source="npm" spec="1.0.1" />
    <plugin name="cordova-plugin-statusbar" source="npm" spec="1.0.0" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="1.1.0" />

    <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="*" /> <!-- Required for iOS9 -->
</widget>
